* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  padding: 16px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

 .js-buttons{
  text-align: center;
  align-content: center;
  font-size: 18px;
}

input{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: lighter;
  padding: 10px 24px;
  border-radius: 5%;
  opacity: 95%;
  color: black;
}




#title {
  text-align: center;
  width: 700px;
  padding: 1rem;
  border: solid black .2em;
  background: rgba(8, 62, 143, 0.5);
  margin-top: auto;
}



header {
  display:flex;
  width: 100%;
  opacity: 95%;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

section {
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  padding: 10px 24px;
  border-radius: 5%;
  opacity: 95%;
  color: black;
  width: 420px;
  height: 200px;
}

button {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: lighter;
  padding: 10px 24px;
  border-radius: 5%;
  opacity: 95%;
  color: black;
}



/* anything footer related */

.footer {
  opacity: 95%;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: crimson;
  color: black;
  text-align: center;
}

.footer a {
  color: rgba(21, 22, 22, 0.911)
}

.footer a:hover {
  text-decoration: line-through;
  color: rgb(32, 176, 212);
}